@charset "UTF-8";
/* CSS Document */
.acc {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .accordion:hover {
  background-color: #BF1215;
}*/

/* Style the accordion panel. Note: hidden by default */


body{
	
	width:1024px;
}
#wrapper{
	background-color: #f8ee81;
}
header{
	height: 120px;
	background-color: #313741;
}
#title{
	display: inline-block;
	margin-top: 10px;
	margin-left: 16px;
	border-style: solid solid solid solid;
	border-width: 5px;
	border-color: #ffff00;
	border-radius: 15px;
	height: 89px;
	width: 982px;
	background-color: #e13840;
}
#title h1{
	margin-top: 10px;
	margin-left: 280px;
	font-size: 54px;
	color: black;
	font-weight: bolder;
}
nav{
	background-color: #383838;
	height: 50px;
	border-style: solid none solid none;
	border-width: 5px;
	border-color: #fffefe;
}
.navi li{
	list-style-type: none;
	margin-left: 100px;
	margin-top: 0px;
    padding: 0;
	display: inline;
	float:left;
	color: #fffefe;
	font-size: 24px;
}
.navi li:first-child{
	margin-left: 50px;
}



/*Burger Accordian*/

#burgers{
	margin-top: 50px;
	margin-left: 100px;
	height: 570px;
}
#click{
	margin-left: 260px;
	display:inline;
	
}
#click:hover{
	color: #3AD0FD;
	text-decoration: underline;
	font-size: 20px;
}
.panel {
	padding: 0 18px;
	background-color: white;
	display: block;
	width: 758px;
	height: 50px;
	overflow: hidden;
	border-style: solid solid solid solid;
	border-color: #FF0004;
	font-weight: bolder;
}
img{
	width: 900px;
	height: 570px;
}
.accordian{
	float:left;
	position: relative;
}
		
.overlay{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height:100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(120,110,110,.50)
}
		
.accordian:hover .overlay{
	opacity: 1;
}


.image {
			display:block;
			width:800px;
		}
.text{
	margin-top: 200px;
	margin-left: 240px;
	padding: 60px;
	font-size: 64px;
	color:white;
}

/*Hotdog Accordian*/
#dogs{
	margin-top: 80px;
	margin-left: 100px;
	height:570px;
}
#click2{
	margin-left: 260px;
	display:inline;
	
}
#click2:hover{
	color: #3AD0FD;
	text-decoration: underline;
	font-size: 20px;
}
.panel2 {
  padding: 0 18px;
  background-color: white;
	display: block;
	width: 764px;
	height: 50px;
  overflow: hidden;
	border-style: solid solid solid solid;
	border-color: #FF0004;
	font-weight: bolder;

}
.accordian2{
	float:left;
	position: relative;
	
}
.accordian2 img{

}
		
.overlay2{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height:100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(120,110,110,.50)
}
		
.accordian2:hover .overlay{
	opacity: 1;
}


.image2 {
			display:block;
			width:800px;
		}
.text2{
	margin-top: 200px;
	margin-left: 230px;
	padding: 60px;
	font-size: 64px;
	color:white;
}

/*Sandwich accordian*/
#sandwich{
	margin-top: 80px;
	margin-left: 100px;
	height:570px;
}
#click3{
	margin-left: 260px;
	display:inline;
	
}
#click3:hover{
	color: #3AD0FD;
	text-decoration: underline;
	font-size: 20px;
}
.panel3 {
	padding: 0 18px;
	background-color: white;
	overflow: hidden;
	display: block;
	width: 764px;
	height: 50px;
	border-style: solid solid solid solid;
	border-color: #FF0004;
	font-weight: bolder;

}
.accordian3{
	float:left;
	position: relative;
	
}
.accordian3 img{

}
		
.overlay3{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height:100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(120,110,110,.50)
}
		
.accordian3:hover .overlay{
	opacity: 1;
}
.image3 {
			display:block;
			width:800px;
		}
.text3{
	margin-top: 200px;
	margin-left: 200px;
	padding: 60px;
	font-size: 64px;
	color:white;
}

/*Fries accordian*/
#fries{
	margin-top: 80px;
	margin-left: 100px;
	height:570px;
}
#click4{
	margin-left: 260px;
	display:inline;
	
}
#click4:hover{
	color: #3AD0FD;
	text-decoration: underline;
	font-size: 20px;
}
.panel4 {
	padding: 0 18px;
	background-color: white;
	overflow: hidden;
	display: block;
	width: 764px;
	height: 50px;
	border-style: solid solid solid solid;
	border-color: #FF0004;
	font-weight: bolder;

}
.accordian4{
	float:left;
	position: relative;
	
}
.accordian4 img{

}
		
.overlay4{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height:100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(120,110,110,.50)
}
		
.accordian4:hover .overlay{
	opacity: 1;
}
.image4 {
		display:block;
		width:800px;
		}
.text4{
	margin-top: 200px;
	margin-left: 270px;
	padding: 60px;
	font-size: 64px;
	color:white;
}

/*Toppings accordian*/
#toppings{
	margin-top: 80px;
	margin-left: 100px;
	height:570px;
	margin-bottom: 20px;
}
#click5{
	margin-left: 260px;
	display:inline;
	
}
#click5:hover{
	color: #3AD0FD;
	text-decoration: underline;
	font-size: 20px;
}
.panel5 {
	padding: 0 18px;
	background-color: white;
	overflow: hidden;
	display: block;
	width: 764px;
	height: 50px;
	border-style: solid solid solid solid;
	border-color: #FF0004;
	font-weight: bolder;
}
.accordian5{
	float:left;
	position: relative;
	
}
.accordian5 img{

}
		
.overlay5{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height:100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(120,110,110,.50)
}
		
.accordian5:hover .overlay{
	opacity: 1;
}
.image5 {
			display:block;
			width:800px;
		}
.text5{
	margin-top: 200px;
	margin-left: 210px;
	padding: 60px;
	font-size: 64px;
	color:white;
}




#dogs #ac2 .accordian2 #foot{
	width: 1024px;
}
#foot{
	margin-top: 70px;
	border-style: solid none solid none;
	border-width: 5px;
	border-color: #fffefe;
	padding: 0px;
	color:white;
	height: 138px;
	background-color: #383838;

}
#foot p{
	margin-left: 100px;
	padding-top: 5px;
	font-size: 25px;
	letter-spacing: 5px;
	height: 134px;	
}
h1{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: white;
}