html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (min-width: 320px) {
	body{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		width: 100%;
		display: flex;
	}
	#wrapper{
		width: 100%;
	}
	header{
		margin-top: 15px;
		margin-bottom: 20px;
	}
	#logo{
		width: 100%;
		height: 80px;
		display: flex;
		
	}
	#logo img{
		width: 120px;
		padding: 5px;
		padding-left: 10px;
	}
	header h1{
		font-size: 36px;
		display: flex;
		justify-content: center;
		
	}
	header h2{
		font-size: 20px;
		display: flex;
		justify-content: center;
	}
	#text{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}
	#navbar{
		width: 100%;
		margin-bottom: 4px;
	}
	#navbar ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		font-size: 15px;
		font-weight: bolder;
	}
	#current{
		text-decoration: underline;
		
	}
	#showcase{
		border-style: solid solid solid solid;
		border-width: 2px;
		border-color: #000000;
	}
	#showcase a img{
		margin-top: 3px;
	}
	#showcase p{
		font-size: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a:hover{
		color: #FF0004;
	}
	a{
		color: #000000;
		text-decoration: none;
	}
	#current a{
		text-decoration: underline;
		font-size: 18px;
		color: dodgerblue;
	}
	#current a:hover{
		color: #FF0004;
	}
	#break{
		width: 100%;
		height: 20px;
		background-color: #7D7D7D;
		border-style: solid none solid none;
		border-width: 2px;
		border-color: #000000;
		margin-bottom: 3px;
	}
	#gallery{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	#gallery #pics img{
		display: flex;
		margin-bottom: 3px;
		width: 100%;
		height: auto;
	}
	#showcase{
		width: 100%px;
	}
	#showcase img{
		width: 100%;
		height: auto;
	}
	footer{
		width: 100%;
		height: 60px;
		background-color: #7D7D7D;
		border-style: solid none solid none;
		border-width: 2px;
		border-color: #000000;
		margin-bottom: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
	}
	footer h2{
		font-weight: bold;
		font-size: 16px;
		text-decoration: underline;
		margin-bottom: 2px;
		color: black;
	}
}

/*-- This is the minimum page break code for making the page responsive    Tablet is 768   Big box is 1440   Then 1920     look up viewport for html    start over from phone code*/
@media only screen and (min-width: 1280px) {
	body{
		display: flex;
		justify-content: center;
	}
	#wrapper{
		width: 1280px;
		display: flex;
		justify-content: center;
		flex-direction: column;	
	}
	header h1{
		font-size: 36px;
		font-weight: bolder;
	}
	header h2{
		font-size: 20px;
	}
	#navbar{
		width: 100%;
	}
	#text{
		width: 100%;
	}
	/*
	#pics img{
		width: 50%;
		display: flex;
		height: 100%;
	}
	*/
	/*
	#gallery #pics a{
		margin-right: 3px;
		margin-left: 3px;
	}
	*/
	#showcase{
		margin-top: 5px;
		margin-bottom: 3px;
	}
	#gallery{
		width: 100%;
		height: auto;
	}
	#pics{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	#pics a{
		width: 50%;
	}

	#navbar ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		font-size: 46px;
		font-weight: bolder;
	}
	#current a{
		font-size: 48px;
	}
}




/* . Look up flexbox froggy */
